body,
html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: url(./header.jpg) no-repeat center center fixed;
  background-size: cover;
}
h1 {
  font-size: 2rem;
  color: #ffffff;
}
hr {
  border-color: orange;
  max-width: 65px;
  border-width: 3px;
}
.buffer {
  height: 10rem;
}
.btn {
  text-transform: uppercase;
  font-weight: 700;
  color: #ffff;
}
.btn-primary {
  background-color: orange;
  border-color: orange;
}

.btn-primary:hover {
  background-color: rgb(233, 152, 3);
  border-color: rgb(233, 152, 3);
  border-width: 4px;
}
.btn-xl {
  padding: 1rem 2rem;
  border-radius: 2rem;
}
